In [16]:
import pandas as pd
import numpy as np 
import folium
folium.__version__ == '0.5.0'

True

In [12]:
data = 'Data/OTC_ACCIDENTS.csv'
df = pd.read_csv(data, sep=';', encoding='latin-1')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19231 entries, 0 to 19230
Data columns (total 35 columns):
ID_ACCIDENT              19231 non-null float64
DATE_                    19231 non-null object
GROUPE_ACCIDENT          19231 non-null object
CAUSE                    19231 non-null object
COMMUNE                  19231 non-null object
CONDITIONS_LUMINEUSES    19231 non-null object
CONDITIONS_METEO         19231 non-null object
CONSEQUENCES             19231 non-null object
COOR_X                   19231 non-null float64
COOR_Y                   19231 non-null float64
ETAT_ROUTE               19231 non-null object
GENRE_ROUTE              19231 non-null object
HEURE                    19230 non-null object
JOUR                     19231 non-null object
LOCALITE                 19231 non-null object
NB_ENFANTS_IMPLIQUES     19231 non-null float64
NB_ENFANTS_ECOLE         19231 non-null float64
NB_BLESSES_LEGERS        19231 non-null float64
NB_BLESSES_GRAVES        19231 non-null float64
NB_TUES                  19231 non-null float64
NB_PIETONS               19231 non-null float64
NB_BICYCLETTES           19231 non-null float64
NB_VAE_25                19231 non-null float64
NB_VAE_45                19231 non-null float64
NB_CYCLOMOTEURS          19231 non-null float64
NB_MOTOS_50              19231 non-null float64
NB_MOTOS_125             19231 non-null float64
NB_MOTOS_11KW            19231 non-null float64
NB_VOITURES_TOURISME     19231 non-null float64
NB_VOITURES_LIVRAISON    19231 non-null float64
NB_CAMIONS               19231 non-null float64
NB_BUS                   19231 non-null float64
NB_TRAM                  19231 non-null float64
E                        19231 non-null float64
N                        19231 non-null float64
dtypes: float64(23), object(12)
memory usage: 5.1+ MB

In [15]:
df[['COOR_X','COOR_Y']]

          COOR_X     COOR_Y
0      2500774.0  1117364.0
1      2498974.0  1118100.0
2      2504618.0  1119635.0
3      2502870.0  1118194.0
4      2502440.0  1117246.0
5      2503732.0  1120928.0
6      2499130.0  1116722.0
7      2500768.0  1118614.0
8      2503019.0  1117108.0
9      2498946.0  1119572.0
10     2501275.0  1117353.0
11     2499663.0  1112369.0
12     2499781.0  1116848.0
13     2498456.0  1114144.0
14     2500663.0  1115495.0
15     2501729.0  1116987.0
16     2504837.0  1123245.0
17     2499038.0  1117519.0
18     2500312.0  1117303.0
19     2498845.0  1114899.0
20     2499502.0  1119616.0
21     2496480.0  1118210.0
22     2498226.0  1114014.0
23     2497693.0  1116062.0
24     2496580.0  1118120.0
25     2499405.0  1118575.0
26     2499903.0  1116234.0
27     2500833.0  1117501.0
28     2500382.0  1118707.0
29     2497457.0  1118672.0
...          ...        ...
19201  2499894.0  1117139.0
19202  2498406.0  1114445.0
19203  2499733.0  1116631.0
19204  2499296.0  1115610.0
19205  2499807.0  1116422.0
19206  2495371.0  1120189.0
19207  2497706.0  1120537.0
19208  2500254.0  1118305.0
19209  2501949.0  1117708.0
19210  2497345.0  1113899.0
19211  2500295.0  1118217.0
19212  2504956.0  1123206.0
19213  2501071.0  1115289.0
19214  2497690.0  1118617.0
19215  2499066.0  1115232.0
19216  2494955.0  1115093.0
19217  2501158.0  1117940.0
19218  2501492.0  1118088.0
19219  2500471.0  1118480.0
19220  2500590.0  1118682.0
19221  2499634.0  1116956.0
19222  2498786.0  1118264.0
19223  2496164.0  1119057.0
19224  2499320.0  1117966.0
19225  2500779.0  1117704.0
19226  2506785.0  1122232.0
19227  2495643.0  1120194.0
19228  2502788.0  1114736.0
19229  2501720.0  1116758.0
19230  2500245.0  1115804.0

[19231 rows x 2 columns]

In [18]:
lausanne_coord = [2500245.0, 1115804.0]
m = folium.Map(location=lausanne_coord)
m